@charset "UTF-8";
body {
  font-family: 'A-OTF Midashi Go MB31 Pr6N', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, li {
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* ヘッダー部分 */
header {
  height: 80px;
  background-color: #75ACE4;
}

.header__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list a {
  color: white;
  font-size: 14px;
}

.header__list1 {
  padding-right: 41px;
}

.header__list2 {
  padding-right: 82px;
}

.header__list3 {
  padding-right: 43px;
}

.header__list4 {
  padding-right: 37px;
}

.header__form a {
  display: block;
  color: white;
  background-color: #EF5350;
  border-radius: 14px;
  font-size: 16px;
  margin-right: 32px;
  margin-top: 20px;
  padding: 9px 21px;
}

.header__form a:hover {
  -webkit-box-shadow: 0px 8px 8px #000000;
          box-shadow: 0px 8px 8px #000000;
}

.header__left {
  margin-top: 10px;
  margin-left: 80px;
}

nav {
  margin-top: 25px;
  position: relative;
  left: 130px;
}

.fixed__btn {
  position: fixed;
  bottom: 100px;
  right: 0px;
}

.fixed__btn a {
  padding: 27px 11px;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  color: white;
  background-color: #EF5350;
  border-radius: 12px 0 0 12px;
}

.fixed__btn a:hover {
  color: #EF5350;
  background-color: white;
  border: 1px double #EF5350;
}

/* section1 */
.section1__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section1__wrapper__left {
  margin-top: 160px;
  margin-left: 160px;
  width: 57%;
}

.section1__wrapper__right {
  width: 43%;
}

.section1__contents h2 {
  font-size: 40px;
  font-weight: normal;
}

.section1__contents h3 {
  font-size: 32px;
  font-weight: normal;
}

.section1__form a {
  color: white;
  background-color: #EF5350;
  border-radius: 20px;
  font-size: 24px;
  padding: 40px 128px 40px 84px;
  display: inline-block;
  margin-top: 25px;
}

.section1__form a:hover {
  -webkit-box-shadow: 0px 8px 8px #000000;
          box-shadow: 0px 8px 8px #000000;
}

.section1__last {
  margin-top: 30px;
  line-height: 32px;
}

.section2__topMessage {
  margin-top: 114px;
}

.section2__topMessage h3 {
  font-size: 24px;
  line-height: 40px;
  font-weight: normal;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(0%, #AECFEF));
  background: linear-gradient(transparent 50%, #AECFEF 0%);
  width: 27%;
  margin-left: 552px;
  margin-bottom: 67px;
}

.section2__topMessage li {
  border-bottom: 1px solid #1976D2;
  font-size: 16px;
  line-height: 32px;
  padding: 17px 0;
  text-align: center;
  width: 40%;
  margin-left: 434px;
}

.section3 {
  background: -webkit-gradient(linear, left top, right top, from(#62B5FE), to(#FFF));
  background: linear-gradient(to right, #62B5FE, #FFF);
}

.section3__commonBox {
  margin-top: 113px;
  padding: 53px 0 51px 231px;
}

.section3__commonBox h1 {
  font-size: 48px;
  font-weight: normal;
}

.section4__title {
  text-align: center;
  margin-top: 110px;
}

.section4__title h1, .section4 h2 {
  font-size: 56px;
  line-height: 72px;
  font-weight: normal;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(0%, #FED8A6));
  background: linear-gradient(transparent 50%, #FED8A6 0%);
  text-align: center;
  display: inline-block;
}

.section4__title h1 {
  width: 67%;
}

.section4__title h2 {
  width: 80%;
}

.section4__title__contents {
  margin-top: 64px;
  text-align: center;
  width: 77%;
  margin-left: 167px;
}

.section4__title__contents01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.section4__title__contents02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 48px 0;
  text-align: left;
}

.section4__title__coment01 {
  margin-left: 70px;
}

.section4__title__coment02 {
  margin-right: 232px;
}

.section4__title__Top {
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 20px;
}

.section4__title__Text {
  font-size: 16px;
  line-height: 32px;
}
/*# sourceMappingURL=style.css.map */