@charset "utf-8";

body {
  font-family: 'A-OTF Midashi Go MB31 Pr6N', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a, li {
  text-decoration: none;
  list-style: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* ヘッダー部分 */
header {
  height: 80px;
  background-color: #75ACE4;
  // width: 100%;;
}

.header {
  &__line {
  display: flex;
  justify-content: space-between;
  }
  &__list {
  display: flex;
  }
  &__list a {
  color: white;
  font-size: 14px;
  }
  &__list1 {
  padding-right: 41px;
  }
  &__list2 {
  padding-right: 82px;
  }
  &__list3 {
  padding-right: 43px;
  }
  &__list4 {
  padding-right: 37px;
  }
  &__form a {
  display: block;
  color: white;
  background-color: #EF5350;
  border-radius: 14px;
  font-size: 16px;
  margin-right: 32px;
  margin-top: 20px;
  padding: 9px 21px;
  }
  &__form a:hover {
    box-shadow : 0px 8px 8px #000000;
  }
  &__left {
  margin-top: 10px;
  margin-left: 80px;
  }
}
nav {
  margin-top: 25px;
  position: relative;
  left: 130px;
}

// 追従ボタン
.fixed__btn
{
  position: fixed;
  bottom: 100px;
  right: 0px;
  
  & a {
  padding: 27px 11px;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  color: white;
  background-color: #EF5350;
  border-radius: 12px 0 0 12px;
  }
  & a:hover {
    color: #EF5350;
    background-color: white;
    border: 1px double #EF5350;
  }
}

/* section1 */
.section1 { 
  // width: 100%;

  &__wrapper { 
  display: flex;
  }
  &__wrapper__left {
  margin-top: 160px; 
  margin-left: 160px;
  width: 57%;
  }
  &__wrapper__right {
  width: 43%;
  }
  &__contents h2 {
    font-size: 40px;
    font-weight: normal;
  }
  &__contents h3 {
    font-size: 32px;
    font-weight: normal;
  }
  &__form a {
    color: white;
    background-color: #EF5350;
    border-radius: 20px;
    font-size: 24px;
    padding: 40px 128px 40px 84px;
    display: inline-block;
    margin-top: 25px;
  }
  &__form a:hover {
    box-shadow : 0px 8px 8px #000000;
  }
  &__last {
    margin-top: 30px;
    line-height: 32px;
  }
}

// section2
.section2 {
  // width: 100%;

  &__topMessage {
    margin-top: 114px;
  }
  &__topMessage h3 {
    font-size: 24px;
    line-height: 40px;
    font-weight: normal;
    background:linear-gradient(transparent 50%, #AECFEF 0%);
    width: 27%;
    margin-left: 552px;
    margin-bottom: 67px;
  }
  &__topMessage li {
    border-bottom: 1px solid #1976D2;
    font-size: 16px;
    line-height: 32px;
    padding: 17px 0;
    text-align: center;
    width: 40%;
    margin-left: 434px;
  }
}

.section3 {
  // width: 100%;
  background: -moz-linear-gradient(left, #62B5FE, #FFF);
  background: -webkit-linear-gradient(left, #62B5FE, #FFF);
  background: linear-gradient(to right, #62B5FE, #FFF);
  
  &__commonBox {
    margin-top: 113px;
    padding: 53px 0 51px 231px;
  }
  &__commonBox h1 {
    font-size: 48px;
    font-weight: normal;
  }
  
}
// section4
.section4 {
  // width: 100%;

  &__title {
    text-align: center;
    margin-top: 110px;
  }
  &__title h1, h2 {
    font-size: 56px;
    line-height: 72px;
    font-weight: normal;
    background:linear-gradient(transparent 50%, #FED8A6 0%);
    text-align: center;
    display: inline-block;
  }
  &__title h1 {
    width: 67%;
  }
  &__title h2 {
    width: 80%;
  }
  &__title__contents {
    margin-top: 64px;
    text-align: center;
    width: 77%;
    margin-left: 167px;
  }
  &__title__contents01 {
    display: flex;
    text-align: left;   
  }
  &__title__contents02 {
    display: flex;
    flex-direction: row-reverse;
    margin: 48px 0;
    text-align: left;
  }
  &__title__coment01 {
    margin-left: 70px;
  }
  &__title__coment02 {
    margin-right: 232px;
  }
  &__title__Top {
  font-size: 24px;  
  line-height: 40px;
  margin-bottom: 20px;
  }
  &__title__Text {
  font-size: 16px;  
  line-height: 32px;
  }
}


// 文字の横のboder
// .s1:before, .s1:after {
//   content: "";
//   flex-grow: 1;
//   height: 1px;
//   background: #444;
//   display: block;
// }
// .s1:before {
//   margin-right: .4em;
// }
// .s1:after {
//   margin-left: .4em;
// }

// @media screen and (max-width: 1440px) and (min-width: 896px) {
// }

// @media screen and (max-width: 896px) and (min-width: 375px) {
// }

// @media screen and (max-width: 375px) {
// }

// @media screen and (max-width: 320px) {
// }