@charset "utf-8";

// 共通部分
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a, li {
  text-decoration: none;
  list-style: none;
}
.container {
  width: 1440px;
  margin: 0 auto;
}

// モーダル
.modal__content {
  margin: 0 auto;
  padding: 40px;
}
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}
.modal__bg {
  background: rgba(191, 191, 191, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content {
  background: #fff;
  border: 1px solid #707070;
  border-radius: 20px;
  left: 50%;
  padding: 29px 38px 68px 64px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 67%;
}
.modal__form a {
  display: block;
  color: white;
  background-color: #EF5350;
  border-radius: 14px;
  font-size: 24px;
  padding: 27px 0 27px 84px; 
}
.modal__form {
  margin: 0 auto;
  width: 60%;
}
.modal__contens3 {
  margin-top: 43px;
  margin-bottom: 79px;
  display: flex;
  justify-content: center;
}
.modal__contents-middle-box {
  background-color: #E5F1FD;
  width: 212px;
  height: 190px;
  position: absolute;
  z-index: -1;
  top: 18px;
  left: 15px;
}
.modal__contens-inner2 {
  margin: 0 28px;
}
.modal__contents, .modal__contents2 {
  border: 2px solid #1692FF;
  width: 212px;
  height: 190px;
  position: relative;
}
.fas {
  font-size: 30px;
  color: #1692FF;
  position: absolute;
  top: 34px;
  right: 37px;
}
.modal__contents-top {
  background-color: white;
  width: 55%;
  margin-left: 45px;
  margin-bottom: -10px; 
  position: relative;
  z-index: 1;
}
.modal__contents-top p {
  color: #1692FF;
  font-size: 19px;
  // 本来は26px
  line-height: 24px;
}
.modal__contents-middle {
  padding: 16px 0 0 29px;
}
.modal__contents-middle p {
  color: #444444;
  font-size: 18px;
  // 本来は20px
  line-height: 32px;
}
.modal__contens-bottom {
  padding: 21px 0 0 6px;
}
.modal__contens-bottom p {
  color: #1692FF;
  font-size: 14px;
  // 本来は16px
  line-height: 32px;
}

/* ヘッダー部分 */
header {
  background-color: #75ACE4;
  width: 100%;
  position: fixed;
  z-index: 9;
}
.header {
  &__line {
  display: flex;
  justify-content: space-between;
  height: 80px;
  }
  &__right, &__list-left, &__list-right {
  display: flex;
  }
  &__list-left, &__list-right {
    padding-top: 25px;
  }
  &__right a {
  color: white;
  font-size: 14px; 
  }
  &__list1 {
  padding-right: 41px;
  }
  &__list2 {
  padding-right: 82px;
  }
  &__list3 {
  padding-right: 43px;
  }
  &__list4 {
  padding-right: 37px;
  }
  &__list5 {
    padding-right: 33px;
  }
  &__form {
    padding: 20px 32px 0 0;
  }
  &__form a {
  display: block;
  color: white;
  background-color: #EF5350;
  border-radius: 14px;
  font-size: 16px;
  padding: 9px 21px;
  }
  &__form a:hover {
    box-shadow : 0px 8px 8px #878787;
  }
  &__left {
  margin-top: 10px;
  margin-left: 80px;
  }
  &__menu-sp {
    display: none;
  }
}
// // ヘッダーメディアクエリ
// @media screen and (max-width: 1440px) and (min-width: 1024px) {
// }
// @media screen and (max-width: 1024px) and (min-width: 768px) {
// }
// @media screen and (max-width: 768px) and (min-width: 375px) {
// }
@media screen and (max-width: 375px) and (min-width: 320px) {
  .container {
    width: 375px;
  }
  .header {
    &__right {
      display: none;
    }
    &__left {
      margin-left: 29px;
      margin-top: 4px;
    }
    &__menu-sp {
      display: block;
    }
    &__line {
      height: 40px;
    }
    &__left img {
      width: 64px;
      height: 27px;
    }
  }
}
  
  // ハンバーガーメニュー
.hamburger {
  display : block;
  position: fixed;
  z-index : 33;
  right : 13px;
  top   : 3px;
  width : 40px;
  height: 40px;
  cursor: pointer;
  // text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 24px;
  height  : 2px ;
  left    : 6px;
  background : white;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 8px;
}
.hamburger span:nth-child(2) {
  top: 16px;
}
.hamburger span:nth-child(3) {
  top: 24px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index : 22;
  top  : 0;
  left : 0;
  color: #0086FC;
  transform: translateY(-100%);
  transition: all 0.6s;
  width: 100%;
}

nav.globalMenuSp ul {
  background: #B4D8F8;
  height: 385px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  text-align: center;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #0086FC;
  padding: 20px 0;
  text-decoration :none;
}
.globalMenuSp__header1 a {
  padding-top: 50px !important;
}
nav.globalMenuSp ul li a:hover {
  color: #E8663B;
}
.globalMenuSp__header img {
  width: 64px;
  height: 27px;
  margin: 5px 0 0 27px;
}
.globalMenuSp__header {
  background-color: #75ACE4;
  height: 40px;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  transform: translateY(0%);
}


// ヘッダー固定幅調節
.contents-header {
  padding-top: 80px;
}
// 追従ボタン
.following {
  &__content {
    position: fixed;
    top: 200px;
    right: 0;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    width: 75px;
    height: 216px;
    text-align: center;
    background-color: #EF5350;
    letter-spacing: 0.2em;
    line-height: 75px;
    border-radius: 12px 0 0 12px;
    cursor: pointer;
  }
  &__border {
    position: fixed;
    top: 26px;
    right: 6px;
    line-height: 63px;
    width: 63px;
    height: 204px;
    border: border 1px #EF5350;
    border-radius: 12px 0 0 12px;
    z-index: 1;
  }
  &__btn {
    display: inline-block;
    position: relative;
    width: 75px;
    height: 216px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    z-index: 2;
  }
  &__content:hover &__btn {
    width: 75px;
    height: 216px;
    line-height: 75px;
    background: #fff;
    color: #EF5350;
    border: solid 1px #EF5350;
    border-radius: 12px 0 0 12px;
  }
}
/* section1 */
.section1 { 
  width: 100%;

  &__wrapper__right-sp {
    display: none;
  }
  &__wrapper { 
    display: flex;
  }
  &__wrapper__left {
    margin-top: 160px; 
    margin-left: 160px;
  }
  &__wrapper__right {
    margin-left: auto;
  }

  &__contents h2 {
    font-size: 40px;
    font-weight: normal;
  }
  &__contents h3 {
    font-size: 32px;
    font-weight: normal;
  }
  &__form a {
    color: white;
    background-color: #EF5350;
    border-radius: 20px;
    font-size: 24px;
    padding: 40px 128px 40px 84px;
    display: inline-block;
    margin-top: 25px;
  }
  &__form a:hover {
    box-shadow : 0px 8px 8px #878787;
  }
  &__last {
    margin-top: 30px;
    line-height: 32px;
  }
}
// @media screen and (max-width: 1440px) and (min-width: 1024px) {
// }
// @media screen and (max-width: 1024px) and (min-width: 768px) {
// }
// @media screen and (max-width: 768px) and (min-width: 375px) {
// }
@media screen and (max-width: 375px) and (min-width: 320px) {
  .contents-header {
    padding-top: 40px;
  }
  .container {
    width: 375px;
  }
  .section1 { 
    &__wrapper { 
      flex-direction: column-reverse;
    }
    &__wrapper__right {
      display: none;
    }
    &__wrapper__right-sp {
      display: block;
    }
    &__wrapper__left {
      width: 100%;
      margin: 0 auto;
      }
      &__wrapper { 
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }
      &__contents h2 {
        font-size: 25px;
        line-height: 39px;
      }
      &__contents h3 {
        font-size: 21px;
        padding: 30px 0 14px 0;
      }
      &__form a {
        white-space: nowrap;
        font-size: 15px;
        padding: 25px 82px 25px 53px;
        margin-top: 0;
        width: 100%;
      }
      &__form {
        padding-top: 18px;
        margin: 0 15px;
      }
      &__last p {
        font-size: 10px;
        line-height: 14px;  
      }
      &__last {
        text-align: left; 
        margin-left: 53px;
      }
  }
}  

// section2
.section2 {
  width: 100%;

  &__topMessage {
    margin-top: 112px;
  }
  &__topMessage h3 {
    font-size: 24px;
    line-height: 40px;
    font-weight: normal;
    background:linear-gradient(transparent 50%, #AECFEF 0%);
    width: 27%;
    margin-left: 552px;
    margin-bottom: 67px;
  }
  &__topMessage li {
    border-bottom: 1px solid #1976D2;
    font-size: 16px;
    line-height: 32px;
    padding: 17px 0;
    text-align: center;
    width: 40%;
    margin-left: 434px;
  }
}
// @media screen and (max-width: 1024px) and (min-width: 768px) {
// }  
// @media screen and (max-width: 768px) and (min-width: 375px) {
// }
@media screen and (max-width: 375px) and (min-width: 320px) {
  .section2 {
    &__topMessage {
      margin-top: 62px;
    }
    &__topMessage h3 {
      white-space: nowrap;
      font-size: 21px;
      line-height: 35px;
      width: 78%;
      margin: 0 auto;
      margin-bottom: 29px;
    }
    &__topMessage li {
      font-size: 14px;
      line-height: 29px;
      margin: 0 auto;
      width: 92%;
      padding: 15px 0;
    }
  }
}
// section3
.section3 {
  width: 100%;
  background: -moz-linear-gradient(left, #62B5FE, #FFF);
  background: -webkit-linear-gradient(left, #62B5FE, #FFF);
  background: linear-gradient(to right, #62B5FE, #FFF);
  
  &__commonBox {
    margin-top: 112px;
    padding: 53px 0 51px 231px;
  }
  &__commonBox h1 {
    font-size: 48px;
    font-weight: normal;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
}
@media screen and (max-width: 768px) and (min-width: 375px) {
}
@media screen and (max-width: 375px) and (min-width: 320px) {
  .section3 {
    &__commonBox {
      margin-top: 56px;
      padding: 18px 0 15px 18px;
    }
    &__commonBox h1 {
      font-size: 17px;
      line-height: 31px;
    }
  }
}

// section4
.section4 {
  width: 100%;

  &__title {
    text-align: center;
    margin-top: 112px;
  }
  &__title h1, h2 {
    font-size: 56px;
    line-height: 72px;
    font-weight: normal;
    background:linear-gradient(transparent 50%, #FED8A6 0%);
    text-align: center;
    display: inline-block;
  }
  &__title h1 {
    width: 67%;
  }
  &__title h2 {
    width: 80%;
  }
  &__title__contents {
    margin: 64px 168px 112px 168px;
    text-align: center;
  }
  &__title__contents01 {
    display: flex;
    text-align: left;   
    align-items: center;
  }
  &__title__contents02 {
    display: flex;
    flex-direction: row-reverse;
    margin: 48px 0;
    text-align: left;
    align-items: center;
  }
  &__title__coment01 {
    margin-left: 70px;
  }
  &__title__coment02 {
    margin-right: 70px;
  }
  &__title__Top h3 {
    font-weight: normal;
    font-size: 24px;  
    line-height: 40px;
    margin-bottom: 20px;
  }
  &__title__Text, &__title__Text02 {
    font-size: 16px;  
    line-height: 32px;
  }
}
// @media screen and (max-width: 1024px) and (min-width: 768px) {
// }
// @media screen and (max-width: 768px) and (min-width: 375px) {
// }
@media screen and (max-width: 375px) and (min-width: 320px) {
  .section4 {
    &__title {
      margin-top: 58px;margin-left: 28px;
    }
    &__title h1, h2 {
      font-size: 21px;
      line-height: 35px;
      white-space: nowrap;
      width: 90%;
   }
    &__title h1 {
      width: 67%;
    }
    &__title h2 {
      width: 80%;
    }
    &__title__contents {
      margin: 64px 168px 112px 168px;
      text-align: center;
    }
    &__title__contents01 {
      display: flex;
      text-align: left;   
      align-items: center;
    }
    &__title__contents02 {
      display: flex;
      flex-direction: row-reverse;
      margin: 48px 0;
      text-align: left;
      align-items: center;
    }
    &__title__coment01 {
      margin-left: 70px;
    }
    &__title__coment02 {
      margin-right: 70px;
    }
    &__title__Top h3 {
      font-weight: normal;
      font-size: 24px;  
      line-height: 40px;
      margin-bottom: 20px;
    }
    &__title__Text, &__title__Text02 {
      font-size: 16px;  
      line-height: 32px;
    }
  }
}

// section5
.section5 {
  width: 100%;
  background: -moz-linear-gradient(left, #62B5FE, #FFF);
  background: -webkit-linear-gradient(left, #62B5FE, #FFF);
  background: linear-gradient(to right, #62B5FE, #FFF);
  
  &__commonBox {
    text-align: center;
  }
  &__commonBox p {
    font-size: 16px;
    font-weight: normal;
    padding: 53px 0 24px 0;
  }
  &__commonBox h3 {
    font-size: 24px;
    line-height: 40px;
    font-weight: normal;
    padding-bottom: 16px;
  }
  &__form {
    width: 40%;
    display: inline-block;
  }
  &__form a {
    display: block;
    color: white;
    background-color: #EF5350;
    border-radius: 14px;
    font-size: 24px;
    padding: 24px 206px 24px 80px;
    margin-bottom: 48px;
    position: relative;
  }
  &__form a::after {
    content: url(img/yajirushi.svg);
    position: absolute;
    right: 20%;
    bottom: 25%;
    width: 14px;
    height: 40px;
  }
  &__form a:hover {
    box-shadow : 0px 8px 8px #878787;
  }
}
// @media screen and (max-width: 1024px) and (min-width: 768px) {
// }
// @media screen and (max-width: 768px) and (min-width: 375px) {
// }
@media screen and (max-width: 375px) and (min-width: 320px) {
}
// section6
.section6 {
  width: 100%;

  &__title {
    margin: 112px 0 72px 0 ;
    text-align: center;
  }
  &__title h2 {
    font-size: 56px;
    line-height: 72px;
    width: 68%;
    font-weight: normal;
    background:linear-gradient(transparent 60%, #FED8A6 0%);
    text-align: left;
    display: inline-block;
  }
  &__contents {
    display: flex;
    margin: 0 0 48px 224px;
  }
  &__contents01 h3 {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 21px;
    font-weight: normal;
  }
  &__contents01 p {
    font-size: 16px;
    line-height: 32px;
  }
  &__contents01 {
    width: 47%;
  }
}
// @media screen and (max-width: 1024px) and (min-width: 768px) {
// }
// @media screen and (max-width: 768px) and (min-width: 375px) {
// }
@media screen and (max-width: 375px) and (min-width: 320px) {
}
// section7
.section7 {
  width: 100%;
  background-color: #EFF8FF;

  &__title {
    text-align: center;
    padding-top: 112px;
    width: 1200px;
    margin: 0 auto;
    margin-top: 71px;
  }
  &__title h1 {
    display: flex;
    align-items: center;
    font-size: 40px;
    line-height: 56px;
    font-weight: normal;
  }
  &__title h1:before,
  &__title h1:after {
    border-top: 1px solid;
    content: "";
    flex-grow: 1;
  }
  &__title h1:before {
    margin-right: 48px;
  }
  &__title h1:after {
    margin-left: 80px;
  }
  &__main {
    display: flex;
    justify-content: center;
    padding: 63px 0 112px 0;
  }
  &__contents1, &__contents2, &__contents3 {
    background-color: white;
    width: 26%;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  }
  &__contents2 {
    margin: 0 45px;
  }
  &__contents__title {
    text-align: center;
    margin: 34px 0 33px 0;
  }
  &__contents__title p {
    font-size: 20px;
    line-height: 36px;
    background:linear-gradient(transparent 45%, #8FCAF9 0%);
    width: 49%;
    display: inline-block;
  }
  &__contents__discription {
    margin: 33px;
  }
  &__contents__discription p {
    font-size: 16px;
    line-height: 32px;
  }  
  &__contents__list {
    margin: 33px; 
  }
  &__contents__list li {
    font-size: 16px;
    line-height: 35px;
    border-bottom: 1px solid #707070;
    padding: 18px 0 17px 0;
  } 
}  
@media screen and (max-width: 1024px) and (min-width: 768px) {
}
@media screen and (max-width: 768px) and (min-width: 375px) {
}
@media screen and (max-width: 375px) and (min-width: 320px) {
}
// section8
.section8 {
  width: 100%;
  height: 1019px;

  &__title {
    text-align: center;
    padding-top: 112px;
    max-width: 1200px;
    margin: 0 auto;
  }
  &__title h1 {
    display: flex;
    align-items: center;
    font-size: 40px;
    line-height: 56px;
    font-weight: normal;
  }
  &__title h1:before,
  &__title h1:after {
    border-top: 1px solid;
    content: "";
    flex-grow: 1;
  }
  &__title h1:before {
    margin-right: 48px;
  }
  &__title h1:after {
    margin-left: 63px;
  }
  &__main0 {
    display: flex;
    justify-content: center;
  }
  &__main {
    width: 33%;
    background-color: #D7ECFD;
    margin: 16px;
    display: flex;
  }
  &__main__contents__left img {
    margin-top: 33px;
    margin-left: 33px;
  }
  &__main__contents__left p {
    font-size: 14px;
    margin: 33px 0 95px 44px;
    color: #1976D2;
  }
  &__main__contents__right {
    width: 64%;
    margin: 32px 37px 32px;
  }
  &__main__contents__right p {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
}
@media screen and (max-width: 768px) and (min-width: 375px) {
}
@media screen and (max-width: 375px) and (min-width: 320px) {
}
// タブ設定
.tab-group {
  display: flex;
  justify-content: center;
}
.tab {
  margin: 69px 37px 50px 37px;
  list-style: none;
  color: #1976D2;
  text-align: center;
  cursor: pointer;
}
.panel {
  display: none;
}
.tab.is-active {
  background: linear-gradient(transparent 50%, #FDC77F 0%);
  transition: all 0.2s ease-out;
}
.panel {
  text-align: center;
}
.panel.is-show {
  display: block;
}
.panel-group {
  margin-bottom: 112px;
}

// section9
.section9 {
  width: 100%;
  background-color: #EFF8FF;
  margin-top: 96px;

  &__title {
    text-align: center;
    padding-top: 116px;
    max-width: 1200px;
    margin: 0 auto;
  }
  &__title h1 {
    display: flex;
    align-items: center;
    font-size: 40px;
    line-height: 56px;
    font-weight: bold;
  }
  &__title h1:before,
  &__title h1:after {
    border-top: 1px solid;
    content: "";
    flex-grow: 1;
  }
  &__title h1:before {
    margin-right: 50px;
  }
  &__title h1:after {
    margin-left: 98px;
  }
  &__accordion {
    width: 77%;
    margin: 0 auto;
  }
  &__accordion__contents1 {
    padding-top: 62px;
  } 
  &__accordion__contents2 {
    padding: 32px 0;
  } 
  &__accordion__contents3 {
    padding-bottom: 109px;
  } 
  &__accordion span {
    margin-right: 35px;
    font-weight: bold;
    font-size: 24px;
  }
  &__accordion__container &__accordion__title {
    position: relative;
    margin: 0;
    padding: 35px;
    background-color: #2196F3;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
  }
  &__accordion__container &__accordion__title::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 32px;
    width: 45px;
    height: 3px;
    /*縦線に*/
    transform: rotate(90deg);
    background: #fff;
    transition: all .3s ease-in-out;
  }
  &__accordion__container &__accordion__title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 32px;
    /*横線*/
    width: 45px;
    height: 3px;
    background: #fff;
    transition: all .2s ease-in-out;
  }
  &__accordion__container &__accordion__title.open::before {
    transform: rotate(180deg);
  }
  &__accordion__content {
    padding: 35px 0 35px 88px;
    border: 1px solid #C8CCD0;
  }
} 
@media screen and (max-width: 1024px) and (min-width: 768px) {
}
@media screen and (max-width: 768px) and (min-width: 375px) {
}
@media screen and (max-width: 375px) and (min-width: 320px) {
}
// section10
.section10 {
  width: 100%;

  &__title {
    text-align: center;
    padding-top: 112px;
    max-width: 1200px;
    margin: 0 auto;
  }
  &__title h1 {
    display: flex;
    align-items: center;
    font-size: 56px;
    line-height: 72px;
    font-weight: normal;
  }
  &__title h1:before,
  &__title h1:after {
    border-top: 1px solid;
    content: "";
    flex-grow: 1;
  }
  &__title h1:before {
    margin-right: 48px;
  }
  &__title h1:after {
    margin-left: 161px;
  }
  &__contents {
    display: flex;
    padding: 72px 0 112px 0;
    width: 86%;
    margin: 0 auto;
  }
  &__left {
    width: 49%;
    padding-top: 49px;
  }
  &__left h5 {
    font-size: 24px;
    line-height: 40px;
    font-weight: normal;
    background:linear-gradient(transparent 60%, #FDC77F 0%);
    width: 90%;
    margin-bottom: 20px;
  } 
  &__left h6 {
    font-size: 20px;
    line-height: 36px;
    font-weight: normal;
    margin-bottom: 22px;
  } 
  &__left p {
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    width: 90%;
  } 
  &__right__container {
    padding: 47px 48px 46px 51px;
  }
  &__right {
    background-color: #F1F2F3;
    width: 51%;
  }
  &__right span {
    color: #FF0606;
  }
  &__kanji label {
    font-size: 12px;
  }
  &__kanji {
    display: flex;
    justify-content: space-between;
  }
  &__kanji input {
    width: 180px;
    height: 44px;
  }
  &__katakana label {
    font-size: 12px;
  }
  &__katakana {
    padding: 10px 0; 
    display: flex;
    justify-content: space-between;
  }
  &__katakana input {
    width: 180px;
    height: 44px;
  }
  &__mailaddress label {
    font-size: 12px;
  }
  &__mailaddress {
    display: flex;
    justify-content: space-between;
  }
  &__mailaddress input {
    width: 365px;
    height: 44px;
  }
  &__apply__content {
    padding: 10px 0 31px 0;
    display: flex;
    justify-content: space-between;
  }
  &__apply__content label {
    font-size: 12px;
  }
  &__apply__content textarea {
    width: 365px;
    height: 112px;
    overflow-y: scroll;
  }
  &__btn {
    display: block;
    color: white;
    background-color: #EF5350;
    border: none;
    outline: none;
    border-radius: 14px;
    font-size: 24px;
    padding: 19px 72px 19px 63px;
    margin: 0 auto;
    cursor: pointer;
    }
  &__btn:hover {
    box-shadow : 0px 8px 8px #878787;
    outline: none;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
}
@media screen and (max-width: 768px) and (min-width: 375px) {
}
@media screen and (max-width: 375px) and (min-width: 320px) {
}
::placeholder {
  padding-top: 14px;
  padding-left: 17px;
  color: #707070;
  font-size: 12px;
}

// section11
.section11 {
  width: 100%;
  background-color: #B4D8F8;
  position: relative;

  &__contents {
    display: flex;
  }
  &__title {
    margin-left: 314px;
  }
  &__title p {
    font-size: 24px;
    line-height: 40px;
    padding: 56px 0;
  }
  &__box {
    border: 1px solid black;
    background-color: white;
    width: 114px;
    height: 112px;
    position: relative;
    position: absolute;
    top: 50%;
    left: 75%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
  }
  &__box p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    font-size: 16px;
    white-space: nowrap;
  }

}
@media screen and (max-width: 1024px) and (min-width: 768px) {
}
@media screen and (max-width: 768px) and (min-width: 375px) {
}
@media screen and (max-width: 375px) and (min-width: 320px) {
}
// footer
footer {
  width: 100%;
  background-color: #1976D2;

  & h3 {
    font-size: 24px;
    font-weight: normal;
    color: white;
    text-align: center;
    line-height: 53px;
    padding: 22px 0 26px 0;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
}
@media screen and (max-width: 768px) and (min-width: 375px) {
}
@media screen and (max-width: 375px) and (min-width: 320px) {
}